.text {
    position: relative;
    color: #4EC5F1;
    font-family: "kanit", sans-serif;
    font-weight: semi-bold;
    font-size: 50px;
    margin-left: 650px;
    margin-top: 100px;
}
.slide-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.image-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.img {
    position: relative;
    width: 295px;
    height: 370px;
    transition: .5s;
}
.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: transparent;
}
.button:hover {
    background-color: transparent;
}
#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
    width: 380px;
    height: 585;
    background-color: transparent;
    filter: saturate(100%);
}